main{
    background-color: #342d2c;
    padding: 1.5rem;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    gap: 0.4rem;
    box-shadow: 0.3rem 0.8rem 1.5rem #999;
}

@media screen and (min-width: 1056px){
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}
    
